p {
    color: white;
    font-style: italic;
    background-color: darkblue;
    text-align: center;
}

h1 {
    color: orangered;
    text-align: center;
}
h2 {
    color: darkblue;
    text-align: center;
}